.title{
    width: 1500px;
    height: 50px;
    font-size: 70px;
}
.subtitle{
    font-size: 30px;
}

button{
    position:relative;
    width: 200px;
    left: 50px;
}

button:hover{
    font-size: 15px;
}